CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - performance-*
      - modernize-*
      - readability-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-magic-numbers
      - readability-identifier-length
      - bugprone-easily-swappable-parameters
      - modernize-avoid-c-arrays
